<h2>Projects</h2>

<table>
  <thead>
    <th>Name</th>
    <th>Authors</th>
  </thead>
  <tbody>
    {{#each @model as |project|}}
      <tr>
        <td>{{project.name}}</td>
        <td>{{join ", " (map-by "name" project.authors)}}</td>
      </tr>
    {{else}}
      <tr><td colspan="2">No projects</td></tr>
    {{/each}}
  </tbody>
</table>

{{outlet}}